<% unless @picks.empty? %>
<table class="table table-condensed table-hover table-striped">
  <tr>
    <td> </td>
    <td>Score</td>
    <td>Players Subscore</td>
    <td>Bonus</td>
    <td>Correct Question Bonus</td>
    <td>1st Par Tiebreak</td>
    <td> </td>
    <td> </td>
  </tr>
  <% @picks.each do |p| %>
    <tr>
      <td><%= p.user.name %></td>
      <td><%= p.score %></td>
      <td><%= p.player_subscore %></td>
      <td><%= p.bonus %></td>
      <td><%= p.correct_questions * -1 %></td>
      <td><%= p.tiebreak %></td>
			<td><%= link_to raw("<span class=\"glyphicon glyphicon-pencil\"></span>"), edit_pool_pick_path(@pool, p) if can? :edit, p%></td>
			<td><%= link_to raw("<span class=\"glyphicon glyphicon-trash\"></span>"), pool_pick_path(@pool, p), method: :delete, data: {confirm: 'Are you sure you want to delete this? This cannot be undone'} if can? :edit, p%></td>
			<td><%= link_to raw("<span class=\"glyphicon glyphicon-ok\"></span>"), root_path if can?(:manage, @pool) and (not p.approved and @pool.require_approval)%>
    </tr>
  <% end %>
</table>
<% end %>
