<h1>Upcoming Pools</h1>

<% if can? :create, Pool%>
	<%= link_to "Create new Pool", new_pool_path%>
<% end %>
<ul>
	<% pools = @pools.each.select {|po| can? :read, po}%>
	<%= raw("There are no upcoming pools to join.<br/><br/>") if pools.empty?%>
	<% pools.each do |p|%>
	<li>
		<%unless p.published?%>
		(Draft)
		<%end%>
		Name: 
		<%= link_to "#{p.name}; ", p%>
		Tournament: 
		<%= link_to "#{p.tournament.name}", p.tournament%>
		Dates:
		<%= "#{p.tournament.starttime.to_formatted_s(:long)}"%>
	</li>
<% end %>
</ul>
