<h1>Upcoming Pools</h1>

<% if can? :create, Pool%>
	<%= link_to "Create new Pool", new_pool_path%>
<% end %>
<ul>
	<%= raw("There are no upcoming pools to join.<br/><br/>") if @pools.empty?%>
	<% @pools.each do |p|%>
	<li>
		<%unless p.published?%>
		(Draft)
		<%end%>
		Name: 
		<%= link_to "#{p.name}; ", p%>
		Tournament: 
		<%= link_to "#{p.tournament.name}", p.tournament%>
		Dates:
		<%= "#{p.tournament.formatted_start}"%>
	</li>
<% end %>
</ul>
