<h1>Create a new pool</h1>
<h2>Pool for <%= @group.name %>
<%= form_for @pool do |f| %>
  <%= render :partial => 'errors/form_field_error', :locals => {:f => @pool} %>

  <p>
  <%= f.label :tournament_id, "Tournament" %>
  <%= select_tag(:tournament_id, options_for_select(@tournament_options)) %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
