<div class = "row">
	<div class = "col-md-8">
		<h1 class="title"><%= @pool.name %></h1> 
		<% if @pool.private and can? :manage, @pool%>
		(This is a private pool. Players must be invited to play)
		<%end%>
		<h3 class="subtitle">for <%= link_to "#{@pool.tournament.name} at #{@pool.tournament.course.location}", tournament_path(@pool.tournament) %></h3>
  </div>
	<div class="col-md-4">
		<% if @pool.admins.include? current_user%>
		<table class="table table-condensed">
			<tr><td>Number of Members</td><td><%= @pool.users.count %></td></tr>
			<tr><td>Number of Approved Picks</td><td><%= @pool.picks.count %></td></tr>
			<tr><td>Number of Pending Picks</td><td><%= @pool.pending_picks.count %></td></tr>
			<tr><td>Total Purse</td><td><%= @pool.all_picks.map{|p| p.cost}.sum %></td></tr>
			<tr><td>Total Purse Collected</td><td><%= @pool.all_picks.map{|p| p.received_unit}.sum unless @pool.all_picks.empty?%></td></tr>
			<tr><td>Outstanding payment</td><td><%= @pool.pending_picks.map{|p| p.cost - p.received_unit}.sum unless @pool.pending_picks.empty?%></td></tr>
		</table>
		<% end %>
	</div>
</div>

<%= render 'pool_header'%>

<table class="table table-condensed">
  <% @questions.each do |q| %>
    <tr><td class="<%= y_or_n(q[1]) %>">
        <%= q[0] %></td><td><%= y_or_n(q[1]).capitalize %>
    </td></tr>
  <% end %>
  <tr><td>1st round par</td><td>
		<% if @pool.tournament.nil?%>
			-
		<% else %>
			<%= @pool.tournament.tiebreak %>
		<% end %>
	</td></tr>
</table>
<% if can? :manage, @pool and @pool.pending_picks.count > 0%>
<br>
	<h3>Pending Picks</h3>
	<table class="table table-condensed table-hover table-striped">
	  <tr>
	    <td>Pick Name</td>
	    <td>User</td>
	    <td>Total Unit Cost</td>
			<td>Total Unit Received</td>
	    <td> </td>
	    <td> </td>
	  </tr>
		
	<% @pool.pending_picks.each do |p| %>
		<tr>
				<td><%= p.name %></td>
				<td><%= p.user.name %></td>
				<td><%= p.cost %></td>
				<td><%= p.received_unit %></td>
				<td><%= link_to "Reject", reject_pick_path(@pool, p), :class => "btn btn-danger", :confirm => "Are you sure? This will delete this pick from the system."%></td>
				<td><%= link_to "Approve", approve_pick_path(@pool, p), :class => "btn btn-success"%></td>
		</tr>
	<% end %>
	</table>
<% end %>
<br>
<h3>Active Picks</h3>
<%= render 'pool_picks'%>
