<%= render 'pool_header'%>

<table class="table table-condensed">
  <% @questions.each do |q| %>
    <tr><td class="<%= y_or_n(q.answer) %>">
        <%= q.question %></td><td><%= y_or_n(q.answer).capitalize %></td></tr>
  <% end %>
  <tr><td>1st round par</td><td><%= @tournament.low_score %></td></tr>
</table>

<%= render 'pool_picks'%>
