<h1 class="title">Scrapers</h1>
	<table class="table table-condensed">
		<tr>
			<td>Label</td>
		  <td>Url</td>
		  <td>Post</td>
		  <td>Frequency (seconds between runs)</td>
		  <td>Start</td>
		  <td>End</td>
      <td>Creator</td>
		</tr>
		
		<% @scrapers.each do |s|%>
			<tr>
				<td><%= s.label %></td>
				<td><%= s.url %></td>
				<td><%= s.post_to %></td>
				<td><%= s.frequency %></td>
				<td><%= s.starttime %></td>
				<td><%= s.endtime %></td>
				<td><%= s.user.name %></td>
      </tr>
		<%end%>
	</table>
	
