<h1><%= link_to @group.name, @group %></h1>
url: /<%= @group.slug %>
<h3>Users</h3>
<table class="table">
  <tr><td>Name</td><td>email</td><td>remove</td><td>admin</td></tr>
  <% @users.each do |u| %>
    <tr><td><%= u.name %></td><td><%= link_to u.email, "mailto:#{u.email}" %></td><td> </td><td><%= @group.admins.include?(current_user) ? "admin" : "no" %> </td></tr>
  <% end %>
</table>
