<div ng-controller="GroupCtrl">
  <h1>Create new group</h1>

  {{we()}}
  <%= form_for @group, :html=>{"ng-submit" => "newGroup()"}, :remote=> true  do |f| %>
    <%= render :partial => 'errors/form_field_error', :locals => {:f => @group} %>

    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :slug, "Group URL" %>
    / <%= f.text_field :slug %>
    </p>
    <p class="button"><%= f.submit %></p>
  <% end %>
</div>
