<%= form_for User.new do |f| %>
  <div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signupLabel"
    aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×</button>
      <h3 id="signupLabel">
        Create Account</h3>
    </div>
    <div class="modal-body">
      <p>
      <%= f.label :name, "Full Name" %>
      <%= f.text_field :name %>
      </p>
      <p>
      <%= f.label :email %>
      <%= f.text_field :email %>
      </p>
      <p>
      <%= f.label :password %>
      <%= f.password_field :password %>
      </p>
      <p>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
        Close</button>
      <%= f.submit "Submit", :class=>"btn btn-primary" %>
    </div>
  </div>
<% end %>
