<h1 class="no-bottom"><%= @tournament.name %></h1>
<h2 class="lighten"><em><%= @tournament.course.location %> </em></h2>
<h3 class="no-bottom lighten"><%= @tournament.formatted_start %> to <%= @tournament.formatted_end%></h3>
<% if params[:bucketing_data]%>
ABCDEFG
<% end%>
<div class="pull-right btn-group">
	<%= link_to "Edit Tournament", edit_tournament_path(@tournament), :class => "btn btn-warning"%>
</div><br /><br />
</div>
</div>

<div class="row">
		<% holes = @tournament.course.holes.order("hole_number asc")%>
		<div class="col-md-1">
			Place
		</div>
		<div class="col-md-2">
			Player
		</div>
		<div class="col-md-1">
			Bucket
		</div>
		<div class="col-md-6">
			Score makeup
		</div>
		<div class="col-md-1">
			Status
		</div>
		<div class="col-md-1">
			Score
		</div>
	</div>
  <% counter = 1 %>


        <% (@tournament.players.includes([:scores, :tplayers]).where("scores.tournament_id = ? and tplayers.tournament_id = ?", @tournament.id, @tournament.id).all.sort_by {|t| [t.get_tplayer(@tournament).status, t.score_by_tournament(@tournament), t.scores.length, t.last_name] }).each do |p| %>
	<div class="row  player-label" data-toggle="collapse" data-target="#demo<%= counter %>" class="accordion-toggle">
					<% t = p.tplayers[0]%>
					<% sum = t.eagle + t.birdie + t.par + t.bogey + t.dbogey%>
					<div class="col-md-1">
						<%= t.rank %>
					</div>
          <div class="col-md-2">
						<%= p.name %>
					</div>
					<div class="col-md-1">
						<%= t.bucket %>
					</div>
					<div class="col-md-6">
						<div class="progress">
					  <div class="progress-bar progress-bar-success" style="width: <%=t.eagle*100.0/sum%>%">
							<span class="sr-only">Eagle</span></div>
					  <div class="progress-bar progress-bar-primary" style="width: <%=t.birdie*100.0/sum%>%">
							<span class="sr-only">Birdie</span></div>
					  <div class="progress-bar progress-bar-info" style="width: <%=t.par*100.0/sum%>%">
							<span class="sr-only">Par</span></div>
					  <div class="progress-bar progress-bar-warning" style="width: <%=t.bogey*100.0/sum%>%">
							<span class="sr-only">Bogey</span></div>
					  <div class="progress-bar progress-bar-danger" style="width: <%=t.dbogey*100.0/sum%>%">
							<span class="sr-only">Double Bogey</span></div>
					  </div>
					</div>
					<div class="col-md-1">
						<% if p.tplayers[0].status == 0 %>
						  <% if p.tplayers[0].hole == 18 %>
  							<% if p.tplayers[0].round == 4 %>
							F 
   							<%else%>
									<%= "End Round #{t.round}" %>
								<% end%>
							<%else%>
							  <%= "Round #{t.round} Hole #{t.hole}" %>
							<%end%>
						<%else%>
						CUT
						<%end%>
					</div>
					<div class="col-md-1">
						<% tplayer = p.get_tplayer(@tournament)%>
						<%= tplayer.status == 0 ? tplayer.score : "CUT"%>
					</div>
				</div>
      <div class="row" >
				<div class="col-md-12" class="hiddenRow">
           <div class="accordian-body collapse" id="demo<%= counter %>">

              <% tscores = p.scores_by_tournament(@tournament) %>

              <table class="table table-condensed table-bordered score-table">
                <thead>
                  <% 2.times do |s| %>
                  <tr><th><%= s==0 ? "Hole" : "Par" %></th>
                    <% @tournament.course.holes.order("hole_number asc").each do |h| %>
                    <td><strong><%= h.send("#{s==0 ? "hole_number" : "par"}") %></strong></td>
                    <% end %>  
                    <th><%= s==0 ? "Total" : @tournament.course.holes.map{|h| h.par}.sum %></th>
                  </tr>
                  <% end %>
                </thead>
                <tbody>
                  <% 4.times do |round| %>
                  <tr><td><%= round+1 %></td>
                    <% (1..18).each do |hole|%>
                      <td><%= tscores[round][hole-1].nil? ? "-" : tscores[round][hole-1].strokes%></td>
                    <% end %>
                    <td><%= tscores[round].empty? ? "" :  (tscores[round].count == 18 ? tscores[round].map{|t| t.strokes}.sum : p.score_by_tournament_round(@tournament, round+1))%></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>

						</div>
				 </div>
			 </div>
      <% counter = counter + 1 %>  
      <% end %>

			<div class="row">
				<div class="col-md-12">