<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="navbar-header">
				<%= link_to "The Golf Tourney", root_url, :class=>"navbar-brand"%>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li <%= print_menu_active(:home) %>><a href="/"><i class="icon-home icon-white"></i>Home</a></li>
					<li <%= print_menu_active(:pools) %>><%= link_to "Pools", pools_path %></a></li>
					<li <%= print_menu_active(:tournament) %>><%= link_to "Standings", tournaments_path %></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">The Rules</a></li>
							<li><a href="#">Credits</a></li>
						</ul>
					</li>
				</ul>
				<div class="navbar-right">
					<div class ="navbar-text">
						<% if current_user %>
							Logged in as: <%= current_user.email %>
							<%= link_to "Log out", logout_path, :class=>"navbar-link" %>
						<% else %>
							<%= link_to "Sign up", new_user_path, "data-toggle"=>"modal", :class=>"navbar-link" %> or
							<%= link_to "log in", login_path, :class=>"navbar-link" %>
						<% end %>
					</div>
				</div>
			</div><!-- /.navbar-collapse -->
		</nav>
		<div class="container full">
   <div class="row">
     <div class="col-md-12">
       <br />
       <% flash.each do |name, msg| %>
         <div id=<%= "flash_#{name}" %> class="<%= "alert alert-#{name}" %>">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= msg %>
         </div>
       <% end %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
       <%= yield %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<br /><br /><br />
       <%= params.inspect if Rails.env.development? %>
     </div>
   </div>
		</div>
	</body>
</html>
